<!doctype html>
<html lang="en">
{% extends 'basic.html' %} {% load static %} {% block body %}



<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>About Us</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> About Us</li>
            </ul>
        </div>
    </div>
</div>


<section class="container-fluid  about-coo">
    <div class="container">

        <div class="row about-row">
            <div class="col-md-6 about-img">
                <img src="{%static '../static/images/about.png' %}" alt="">
            </div>
            <div class="col-md-6 about-text">
                <h1>Welcome to CareChainAI: Revolutionizing Healthcare</h1>
                <p>CareChainAI is a pioneering healthcare platform dedicated to redefining how medical services are accessed and experienced. Our advanced technology empowers patients to seamlessly connect with specialized clinics, book appointments online,
                    and securely manage health records through blockchain.</p>
                <p>At CareChainAI, we prioritize your convenience, privacy, and personalized care, setting a new standard for healthcare accessibility and patient empowerment. Join us on this transformative journey where innovation meets your well-being.</p>
                <div class="about-featur">
                    <ul>
                        <li><i class="fa fa-check"></i> Innovative Healthcare Solutions</li>
                        <li><i class="fa fa-check"></i> Seamless Online Appointment Booking</li>
                        <li><i class="fa fa-check"></i> Secure Health Record Management</li>
                        <li><i class="fa fa-check"></i> Blockchain-backed Privacy</li>
                        <li><i class="fa fa-check"></i> Personalized Patient Care</li>
                        <li><i class="fa fa-check"></i> Empowering Healthcare Accessibility</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- ################# Our Team Starts Here#######################--->
<section class="our-team">
    <div class="container">
        <div class="section-title row">
            <h2>Our Team</h2>

            <h3> Revealing Soon...</h3>
        </div>
    </div>

</section>

{% endblock %}

</html>